$black: #212227;
$dirty-white: #bdd4e7;
$dark-gray: #8693ab;
$light-gray: #aab9cf;
$camou-green: #637074;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $black;
}
